/* Body styling */
body {
    /* Set font family */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Center content vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set height to 100% of the viewport */
    height: 100vh;
    /* Remove default margin */
    margin: 0;
    /* Set background color as a gradient */
    background-image: linear-gradient(to bottom right, #a8edea, #d7fed6); 
}


/* Styling for bank container */
.bank {
    /* Center text */
    text-align: center;
    /* Add box shadow for a subtle elevation effect */
    box-shadow: 0 4px 8px rgba(197, 35, 35, 0.1);
    /* Add padding */
    padding: 20px;
    /* Add border radius for rounded corners */
    border-radius: 30px;
    /* Set background color */
    background-image: linear-gradient(to bottom right, #0d2726, #0fe70b);
}

/* Styling for input rows */
.input-row {
    /* Display as flexbox */
    display: flex;
    /* Alinear elementos horizontalmente */
    justify-content: center;
    /* Add margin bottom for separation */
    margin-bottom: 20px;
}

/* Styling for the balance text */
.balance {
    /* Set font size */
    font-size: 24px;
    /* Add margin */
    margin: 20px;
}

/* Styling for input fields of type number */
input[type="number"] {
    /* Add padding */
    padding: 10px;
    /* Add margin to separate from adjacent elements */
    margin-right: 5px;
    /* Add border radius for rounded corners */
    border-radius: 4px;
    /* Add border */
    border: 1px solid #ccc; /* Light gray border */
    /* Set width */
    width: 150px;
}


/* Styling for buttons */
button {
    /* Add padding */
    padding: 10px 20px;
    /* Remove border */
    border: none;
    /* Set background color */
    background-color: #047cfd; /* Blue */
    /* Set text color */
    color: rgb(255, 255, 255);
    /* Add border radius for rounded corners */
    border-radius: 20px;
    /* Change cursor to pointer on hover */
    cursor: pointer;
    /* Agregar una transición suave para los cambios */
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect for buttons */
button:hover {
    /* Darken background color on hover */
    background-color: #0056b3; /* Darker blue */
    /* Lighten text color on hover */
    color: #f2f2f2; /* Light gray */
}


